<div class="block center">
  <h1>Liste des caf&eacute;s</h1>
  <div class="col-md-12" style="margin-top: 13px;">
    <a ng-href="#/admin/products/new">
      <button>Ajouté un café</button>
    </a>
  </div>
  <div class="breadcrumbs" style="position: relative; top:-50px;text-align: left;">
    <a href="#/admin">Admin</a> >> Product
  </div>
  <div class="row block" itemscope itemtype="Product" style="padding: 3px 10px;" ng-repeat="product in products" id="product{{product._id}}">
    <div class="col-md-2" itemprop="photo" style="margin: auto;">
      <img src="{{product.picture}}"  height="100">
    </div>
    <div class="col-md-8" itemprop="description">
      <h2><a ng-href="/#/product/{{product._id}}">{{product.name}}</a></h2>
      <p>{{product.description}}</p>
    </div>
    <div class="col-md-1" itemprop="price" style="margin-top: 35px;">
      <p>{{product.price}} $</p>
      <a ng-href="#/admin/products/edit/{{product._id}}">
	<button>Editer le café</button>
      </a>
    </div>
    <div class="col-md-1" itemprop="price" style="margin-top: 35px;">
      <a ng-click="deleteItem($index)">
      	<button>Delete</button>
      </a>
    </div>
  </div>
</div>
